/*-- /about --*/
.banner-bottom,#team,#service,.footer_w3l_agile_info,#portfolio,#contact{
    padding:6em 0;
}
.inner-w3 {
    margin: 0 auto;
    text-align: center;
}
.inner-w3.w3l {
    margin-bottom: 5em;
}
h2.tittle {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.7em;
    line-height: 1.4em;
    margin-bottom: 0.5em;
    color: #111;
}
h2.tittle span {
      color: #ffffff;
}
.about_left p {
       color: #cfd3d8;
    font-size: 1.2em;
    line-height: 1.9em;
    margin: 1em 0;
    font-weight: 400;
    letter-spacing: 1px;
}
.about_left h4 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 400;
}
h3.title {
    color:#222;
    font-size:2.5em;
    text-transform:uppercase;
    font-weight:bold;
}
h3.title.two {
	 color:#fff;
}
h3.title span{
      width:18%;
    background:#151414;
    height: 2px;
    display: block;
    margin-top:26px;
    position:relative;
    margin: 14px auto 0px;
}
h3.title.two span.two{
   width: 18%;
    background: #fff;
    height: 4px;
    display: block;
    margin-top: 26px;
    position: relative;
    margin: 23px auto 0px;
}
h3.title span:after{
    content: ' ';
    position: absolute;
    background: #EB4549;
    height: 4px;
    display: block;
    width: 92px;
    top: 2px;
}
.adt_grids{
	margin-top:50px;
}
.about_left {
    padding: 0;
}
.bottom-gds:nth-child(3),.bottom-gds:nth-child(4) {
    margin-top: 30px;
}
.creative{
    min-height: 428px;
    padding: 0 60px 0;
		text-align: center;
}
.creative h4 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 26px;
}
.creative img {
	border-radius: 50%;
}
.creative p {
    color: #fff;
    font-size: 18px;
    line-height: 1.9em;
}
#about {
    background:#2F79C3;
}
.more a {
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  padding:12px 30px;
	outline: none;
}
.more a:hover {
	color:#212121;
}
.more a span {
    left: 1em;
}

/* Shutter In Vertical */
.hvr-shutter-in-vertical {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  position: relative;
  background: #fff;
  transition-property: color;
  transition-duration: 0.3s;
}
.hvr-shutter-in-vertical:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0a0a0a;
	transform: scaleY(1);
  transform-origin: 50%;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.hvr-shutter-in-vertical:hover, .hvr-shutter-in-vertical:focus, .hvr-shutter-in-vertical:active {
  color: #212121;
}
.hvr-shutter-in-vertical:hover:before, .hvr-shutter-in-vertical:focus:before, .hvr-shutter-in-vertical:active:before {
  transform: scaleY(0);
}
/*-- //about --*/
