@media (max-width:1680px)
  .home-agile-text
    padding: 9em 5em
  	min-height: 624px

@media (max-width:1600px)
	.home-agile-text
	  padding: 9em 5em
	  min-height: 594px

@media (max-width:1440px)
  .home-agile-text
  	padding: 8em 5em
  	min-height: 534px

	.w3_agileinfo_banner_text
	  top: 38%
	  left: 27.5%

@media (max-width:1366px)
  .home-agile-text
    padding: 6em 4em
    min-height: 507px

  .banner-bottom, #team, #service, .footer_w3l_agile_info, #portfolio, #contact
    padding: 5em 0

  .w3_agileinfo_banner_text h1
    font-size:3.1em

  .w3_agileinfo_banner_text
    top: 38%
    left: 27%

@media (max-width:1280px)
  .home-agile-text
  	padding: 6em 4em
  	min-height: 507px

  .w3_agileinfo_banner_text h1
  	font-weight: 700
  	color: #fff
  	font-size: 3em
  	text-transform: uppercase
  	letter-spacing: 1px

  .w3_agileinfo_banner_text
    top: 38%
    left: 29%

  .view
    width: 221px
    height: 270px

  .view .mask, .view .content
    width: 221px
    height: 270px

@media (max-width:1080px)
  .icon-right
    float: left
    width: 63%

	h3.title
    font-size: 2.3em

	h2.tittle
  	font-size: 1.6em
  	line-height: 1.4em

	.w3_agileinfo_banner_text
  	top: 38%
  	left: 24%

	.home-agile-text
    padding: 3em 2em
    min-height: 388px

	.staff-grid  p,.icon-right p,.about_left p,.home-agile-text p
	  font-size:1.1em

	.banner-bottom, #team, #service, .footer_w3l_agile_info, #portfolio, #contact
	  padding: 4em 0

	.w3ls-agile-service-grid
	  padding: 4em 2em

	.contact-form-aits input[type="text"], .contact-form-aits input[type="email"], .contact-form-aits textarea
  	width: 48%
  	float: left
  	padding: 15px 0px
  	margin-bottom: 20px

	.contact-form-aits
	  padding: 50px

	.icon-left
  	float: left
  	padding: 0em 1em
  	margin-right: 1em

	.home-agile-text h4
  	font-size: 1.6em
  	line-height: 1.4em
  	margin-bottom: 0.5em

@media (max-width:1050px)
  #play
    position: absolute
    top: 38%
    left: 44%

  .home-agile-text
    padding: 3em 2em
    min-height: 388px

	.contact-form-aits input[type="text"], .contact-form-aits input[type="email"], .contact-form-aits textarea
  	width: 100%
  	float: left
  	padding: 15px 0px
  	margin-bottom: 20px

  .contact-form-aits textarea
    width: 100%
    height: 118px

@media (max-width:1024px)
  .w3_agileinfo_banner_text
    top: 38%
    left: 23%

  .home-agile-text
    padding: 2em 2em
    min-height: 378px

  #content
    height:650px

@media (max-width:991px)
	.navbar-nav>li
		float: left
		margin-right:2px

	.navbar-default .navbar-nav>li>a
		padding: 24px 10px

	.about_right
		padding: 0
		margin-top: 2em

	.staff-grid
		text-align: center
		width: 44%
		float: left

	.staff-grid:nth-child(2), .staff-grid:nth-child(3)
		margin-top: 0

	.staff-grid:nth-child(3), .staff-grid:nth-child(4)
		margin-top:2em

	.staff-grid h4
		font-size: 1.2em

	.staff-grid:nth-child(2), .staff-grid:nth-child(4)
		margin-left:10%

	.view
		width: 240px
		height: 270px

	.view .mask, .view .content
		width: 240px
		height: 270px

	.home-agile-text
		padding: 4em 4em
		min-height: 321px

	.gallery-grid
		float: left
		width: 50%

	#test-monials
		min-height: 694px
		padding-top: 4em
		padding-bottom: 4em

	.test-monials
		padding: 0
		margin:1em 0 0 0

	.w3_agile_grids_top
		margin: 3em 0 0 0

	.agile_footer_grid
		padding: 0

	.agile_footer_grid:nth-child(2)
		margin:2em 0

	.wthree_footer_grid_left
		padding: 0

	.navbar-default .navbar-brand
		font-size: 27px
		font-weight: 700
		line-height: 40px

@media (max-width:800px)
	.w3_agileinfo_banner_text h1
		font-size: 2.5em

	.w3_agileinfo_banner_text
		top: 39%
		left: 20%

	.banner-bottom, #team, #service, .footer_w3l_agile_info, #portfolio, #contact
		padding: 3em 0

	#content
		height: 500px

	.w3_agile_grids_top
		margin: 2em 0 0 0

	h3.title
		font-size: 2.1em

@media (max-width:767px)
	.navbar-default
		padding-bottom:3px

	.navbar-toggle
		position: relative
		float: right
		padding: 13px 10px
		margin-top:15px
		margin-right: 15px
		margin-bottom: 8px
		background-color: transparent
		background-image: none
		border: 1px solid transparent
		border-radius: 0px!important

	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover
		background-color: #3bc391

	.navbar-nav>li
		float: none
		margin-right: 0
		text-align: center
		margin-bottom:2px

	.navbar-nav
		margin: 0px!important
		background: rgba(0, 0, 0, 0.84)

	.navbar-default .navbar-nav>li>a
		padding: 12px 10px

@media (max-width:736px)
	h3.title span
     width:25%


@media (max-width:667px)
	#content
		height: 433px

	.w3_agileinfo_banner_text
		top: 39%
		left: 16%

	h3.title span
     width:30%

	#play
		position: absolute
		top: 38%
		left: 47%

	.modal-content h4
      font-size: 1.4em

@media (max-width:640px)
	.w3_agileinfo_banner_text h1
		font-size: 2.4em

	.w3_agileinfo_banner_text p
		letter-spacing: 9px
		font-size: 0.9em

	.about_left h4
		font-size: 1.3em
		font-weight: 400

	h2.tittle
		font-size: 1.5em
		line-height: 1.4em

	.more a
		font-size: 1em
		padding: 9px 30px
		outline: none

	.creative h4
		font-size: 21px
		margin-bottom: 26px

	.staff-section
		margin-top: 2em

	.home-agile-text
		padding: 2em 2em
		min-height: 321px

	.wthree_footer_grid_right
		padding: 0

	.w3_about_grid_left h6
		font-size: 1.1em
		margin: 0
		line-height: 1.6em

@media (max-width:600px)
	.staff-grid:nth-child(2), .staff-grid:nth-child(4)
		margin-left: 3%

@media (max-width:568px)
  .w3_agileinfo_banner_text h1
  	font-size: 2.2em

  .w3_agileinfo_banner_text
  	top: 39%
  	left: 15%

  .icon-right h5
    font-size: 1.2em

  .view
  	width: 222px
  	height: 250px

  .view .mask, .view .content
    width: 222px
  	height: 250px

@media (max-width:384px)
   .staff-grid
      text-align: center
    	width:90%
    	float: left
    	margin: 0px 5%

  .staff-grid:nth-child(2), .staff-grid:nth-child(4)
  	margin-left: 0
  	float: none
  	margin: 0 auto
  	margin: 0px 5%

  .icon-right h5
  	font-size: 1.1em

  .creative h4
  	font-size: 17px
  	margin-bottom: 19px

  .home-agile-text h4
    font-size: 1.2em
    line-height: 1.4em
    margin-bottom: 0.5em

@media (max-width:375px)
  h2.tittle
    font-size: 1.2em
  	line-height: 1.4em

  .w3_agileinfo_banner_text h1
  	font-size: 1.7em

  .w3_agileinfo_banner_text p
  	letter-spacing: 6px
  	font-size: 0.9em

  .icon-right
  	float: none
  	width: 100%
  	text-align:center

  .icon-left
  	float: none
  	padding: 0
  	margin-right: 0
  	margin-bottom: 1em

  .staff-grid
  	text-align: center
  	width:90%
  	float: left
  	margin: 0px 4%

  .staff-grid:nth-child(2), .staff-grid:nth-child(4)
  	margin-left: 0
  	float: none
  	margin: 0 auto
  	margin: 0px 4%

  li.fallow
  	font-size: 1em
  	margin-right: 9px

  .social-icons3 li a
    margin-right: 0.3em

  .wthree_footer_grid_right input[type="email"]
  	width: 70%
  	margin-right: 0.5em
  	letter-spacing: 2px

  .navbar-default .navbar-brand
  	font-size: 24px
  	font-weight: 700
  	line-height: 40px

  h3.title
  	font-size: 1.4em

	#content
	  height: 287px

  li.fallow
  	font-size: 1em
  	margin-right: 1px
  	display: block
  	margin: 1em 0

@media (max-width:320px)
	.w3_agileinfo_banner_text h1
		font-size: 1.4em

  .w3_agileinfo_banner_text p
    letter-spacing: 4px
    font-size: 0.8em
    margin-top: 5px

  h2.tittle
  	font-size: 1.05em
  	line-height: 1.4em

  .staff-grid
  	text-align: center
  	width:90%
  	float: left
  	margin: 0px 0%

	.staff-grid:nth-child(2), .staff-grid:nth-child(4)
  	margin-left: 0
  	float: none
  	margin: 0 auto
  	margin: 0px 0%

		#content
		height: 246px

	.view
		width: 221px
		height: 220px

	.view .mask, .view .content
		 width: 221px
		height: 220px

	.staff-grid
		text-align: center
		width: 100%
		float: left
		margin: 0px 0%

	.wthree_footer_grid_right input[type="email"]
		width: 66%
		margin-right: 0.5em
		letter-spacing: 2px

	.wthree_footer_grid_right input[type="submit"]
		outline: none
		padding: 12px 0
		font-size: 1em
		width: 30%
