/*--/contact --*/
.contact-form-aits input[type="text"],.contact-form-aits input[type="email"],.contact-form-aits textarea
	width: 49%
	float: left
	padding: 15px 0px
	margin-bottom: 20px
	border: none
	color: #000
	border-bottom: 2px solid #777
	font-weight: 600
	outline: none
	letter-spacing:1px
	background:#eee

input.margin-right
	margin-right: 18px

.contact-form-aits textarea
	width: 100%
	height: 150px
	margin-bottom: 30px
	resize: none

.send-button button.btn
	font-weight: 600
	color: #EEE
	padding:12px 30px
	border: none
	outline: none
	background: #3bc391
	border-radius: 0

.send-button button.btn:hover
	color: #FFF
	background: #010910

.send-button button.btn .glyphicon
	margin-left: 10px

.contact-form-aits ::-webkit-input-placeholder
	color: #555


.contact-form-aits ::-moz-placeholder
	color: #555


.contact-form-aits ::-moz-placeholder
	color: #555

.contact-form-aits ::-ms-input-placeholder
	color: #555


.send-button.agileits.w3layouts
	text-align: center

.contact-form-aits
	background:#EEE
	padding: 100px

ul.social-icons3.three
  margin-top: 2em

ul.social-icons3.three a
	text-align: center

li.fallow
	font-size: 1.2em
	margin-right: 9px
	color:#555
	font-weight: 600
