/*--/footer_w3l_agile_info --*/
.footer_w3l_agile_info
  background #010910

.agile_footer_grid h3,.wthree_footer_grid_left h3
  font-size 1.4em
  color #fff
  padding-bottom .5em
  position relative
  margin-bottom 1.5em
  text-transform uppercase
  font-weight 600
  letter-spacing 1px

.agile_footer_grid h3:after,.wthree_footer_grid_left h3:after
  content  ''
  background #3BC391
  width  17%
  height  4px
  position  absolute
  bottom  0%
  left  0%

.agile_footer_grid p
  color  #a8aeb3
  line-height  2em
  margin-bottom  2em

.agileits_w3layouts_footer_grid_list li,.w3_address li
  display block
  margin-bottom 1em

.agileits_w3layouts_footer_grid_list li i
  color #EB4549
  padding-right 1em

.agileits_w3layouts_footer_grid_list li a
  color  #a8aeb3
  text-decoration  none
  line-height  1.5em
  letter-spacing  1px
  font-size  0.9em

.agileits_w3layouts_footer_grid_list li a:hover
  color #EB4549

.agileits_w3layouts_footer_grid_list li:last-child,.w3_address li:last-child
  margin-bottom 0

.w3_address li
  color  #a8aeb3

.w3_address li i
  border  1px solid #222a31
  padding .5em
  margin-right 1.5em
  color  #fff

.w3_address li span
  display  block
  margin-left  4em
  letter-spacing  1px
  font-size  0.9em

.w3_address li a
  color  #a8aeb3
  text-decoration  none

.w3_address li a:hover
  color  #fff
  text-decoration  none

.w3_agileits_footer_grids
  margin 3em 0

.wthree_footer_grid_right input[type="email"]
  outline  none
  padding  14px
  background  rgba(160, 168, 173, 0.21)
  font-size  0.9em
  color  #fff
  width  70%
  margin-right  1em
  border  none
  letter-spacing  2px

.wthree_footer_grid_right input[type="email"]::-webkit-input-placeholder
  color  #c8c9ca!important

.wthree_footer_grid_right input[type="submit"]
  outline  none
  padding  12px 0
  background  #3BC391
  font-size  1em
  color  #fff
  width  20%
  border  none
  text-transform uppercase
  letter-spacing 1px

.wthree_footer_grid_right input[type="submit"]:hover
  background #EB4549

.agileinfo_copyright
  padding  1em 0
  background  #222a31

.agileinfo_copyright p
  line-height  2em
  text-align  center
  color  #c8c9ca
  letter-spacing  2px

.agileinfo_copyright p a
  color #EB4549

.agileinfo_copyright p a:hover
  color #3BC391

ul.social-icons3.two li a
  text-align  center
